.news__details {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.news__heading {
  display: flex;
  justify-content: center;
  padding: 2rem;
  font-size: 3em;
  font-weight: 700;
}

.news__card {
  display: flex;
  flex-wrap: wrap;
}
